@import "tailwindcss";

#root {
  background-color: #444444;
}

html {
    scroll-behavior: smooth;
}

html, 
body {
  background-color: #444444;
  margin: 0;
  padding: 0;
  /* This ensures the entire viewport is black even before content loads */
  min-height: 100vh; 
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
}

nav h1 {
    margin: 0;
}

nav div {
    display: flex;
    gap: 20px;
}


.gallery-img img {
    transition: transform 0.3s ease;
}

.gallery-img:hover img {
    transform: scale(1.05);
}
/* display photo gallery for different screen sizes*/
@media (max-width: 768px) {
    /* each row stacks vertically */
    .gallery-row {
        flex-direction: column !important;
        height: auto !important;
    }

    /* each image takes full width */
    .gallery-img {
        width: 100% !important;
        height: auto !important;
        aspect-ratio: auto !important;
    }
}
/* display bio by column */
@media (max-width: 768px) {
    .bio-container {
        flex-direction: column !important;
        margin: 0 20px !important;
    }
}
