@import "tailwindcss";


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
}

nav h1 {
    margin: 0;
}

nav div {
    display: flex;
    gap: 20px;
}


.gallery-img img {
    transition: transform 0.3s ease;
}

.gallery-img:hover img {
    transform: scale(1.05);
}

